<app-title></app-title>
<div class="content">
  <app-navigation
    class="navigation"
    [currentSection]="currentSection"
  ></app-navigation>
  <div class="blog-container" id="blog-container">
    <app-about class="blog-section"></app-about>
    <app-what-is-a-state-machine
      class="blog-section"
    ></app-what-is-a-state-machine>
    <app-compiler class="blog-section"></app-compiler>
    <app-code-structure class="blog-section"></app-code-structure>
    <app-task-node class="blog-section"></app-task-node>
    <app-action class="blog-section"></app-action>
    <app-sequential-node class="blog-section"></app-sequential-node>
    <app-while-node class="blog-section"></app-while-node>
    <app-if-node class="blog-section"></app-if-node>
    <app-try-node class="blog-section"></app-try-node>
    <app-cobblestone-program class="blog-section"></app-cobblestone-program>
    <app-wood-program class="blog-section"></app-wood-program>
    <app-conclusion class="blog-section"></app-conclusion>
  </div>
</div>
