<app-title></app-title>
<div class="content">
  <app-navigation
    class="navigation"
    [currentSection]="currentSection"
  ></app-navigation>
  <div class="blog-container" id="blog-container">
    <app-about></app-about>
    <app-what-is-a-state-machine></app-what-is-a-state-machine>
    <app-compiler></app-compiler>
    <app-code-structure></app-code-structure>
    <app-task-node></app-task-node>
    <app-action></app-action>
    <app-sequential-node></app-sequential-node>
    <app-while-node></app-while-node>
  </div>
</div>
