.content {
  display: grid;
  grid-template-columns: minmax(240px, 1fr) 65% 1fr;
  padding-top: 20px;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .content {
    grid-template-columns: 100%;
    padding: 10px;
    padding-top: 20px;
  }
}
