<div class="section">
  <h3 id="conclusion">Conclusion:</h3>
  <p>
    This was a verry intersting project, and I had a lot of fun (and also some
    all-nighters) figuring out some aspects of the compiler and resolving some
    of the many problems I faced along the way.<br />
    <br />
    Im glad that the compiler worked out so nicely and efficient at the end. As
    it turns out the way I have chosen to implement the compilation-logic is
    very flexible and is very easy and intuitive to improve and extend. Adding
    new Tasks and Actions for the bot is very straightvorward and requires just
    a couple of changes in very intuitive places.<br />
    So in general I am very happy how the project turned out. As always, the
    code-snippets shown above and the small compilation-results I explained take
    up just a small part of the actual project, and were just used to explain
    the bare minimum to understand the basic concept of the project.<br />
    <br />
    If you want to take a further look at it and maybe even build something with
    the project yourself you can find the full code on my
    <a href="https://github.com/ManuelLerchner/Mineflayer-Compiler"
      >github page</a
    >.
  </p>
  <p>© 2022 <a href="https://manuellerchner.de">Manuel Lerchner</a></p>
</div>
