.section {
  margin: 0;
  margin-bottom: 40px;
  padding: 25px;

  width: 100%;
  background-color: #f1f1f198;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 5px;
    margin-left: 0px;

    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 5px;
    margin-left: 0px;

    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  p {
    font-size: 20px;
    color: #212529;
    line-height: 1.3;
    font-weight: 480;

    margin-top: 24px;
    margin-bottom: 24px;

    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }

  figure {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;

    figcaption p {
      margin-top: 10px;
      font-size: 18px;
      color: #212529;

      font-weight: 520;
    }
  }

  .fullWidthImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .halfWidthImg {
    width: 75%;
    height: auto;
    border-radius: 5px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    width: 100%;

    @media (max-width: 1480px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 1280px) {
      grid-template-columns: 1fr;
    }

    grid-gap: 20px;
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 18px;
      color: #212529;

      font-weight: 520;
    }
  }

  video {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: 100vw;
  }
}
