<div class="navigation">
  <!-- <ul>
    <li *ngFor="let paragraph of paragraphs">
      <a
        [ngClass]="{ selected: paragraph.id === currentSection }"
        href="#{{ paragraph.id }}"
        >{{ paragraph.title }}</a
      >
    </li>
  </ul> -->
  <div *ngFor="let paragraph of paragraphs">
    <p>{{ paragraph.name + ":" }}</p>

    <a
      *ngFor="let link of paragraph.links"
      [ngClass]="{ selected: link.id === currentSection }"
      href="#{{ link.id }}"
    >
      {{ link.title }}
    </a>
  </div>
</div>
